<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<title>University Clubs</title>
		<meta name="description" content="University Clubs Landing Page">
		<meta name="author" content="Arjun Jain">
		<!-- CSS Code -->
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/reset.css">
		<!-- JS Code -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.	2/jquery.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body>
		<!-- Section #1 -->
		<section id="home" data-speed="10" data-type="background">
			<article>
				<h1>Having a tough time picking what college you want to go to? </h1>
			</article>
		</section>
		<!-- Section #2 -->
		<section id="about" data-speed="4" data-type="background">
			<article>Simple Parallax Scroll</article>
		</section>
	</body>

</html>
