<% if !user_signed_in? %>
<body>
		<!-- Section #1 -->
		<section id="c1" data-speed="100" data-type="background">
			<article>
                <div class="hero-unit">
				    <h1 style="word-spacing 10px; letter-spacing: 1px;">Having a tough  time picking what college you want to go to? </h1>
			     </div>
            </article>
		</section>

		<!-- Section #2 -->
		<section id="c2" data-speed="100" data-type="background">
			<article>
                <div class = "hero-unit">
                    <h1 style="word-spacing 10px; letter-spacing: 1px;">Don’t know what to write for your essays? </h1>
                </div>
            </article>
		</section>

        <!-- Section #2 -->
        <section id="c5" data-speed="100" data-type="background">
            <article>
                <div class = "hero-unit">
                    <h1 style="word-spacing 10px; letter-spacing: 1px;">Did you know that clubs and organizations make your college experience?</h1>
                </div>
            </article>
        </section>
        <!-- Section #1 -->
        <section id="c1" data-speed="100" data-type="background">
            <article>
                <div class="hero-unit">
                    <h1 > We give you access to information about every college affiliated club in the United States! </h1>
                 </div>
            </article>
        </section>
        <!-- Section #2 -->
        <section id="c5" data-speed="100" data-type="background">
            <article>
                <div class = "hero-unit">
                    <h1>So go ahead &amp;</h1><h1>Sign up </h1><h1></h1>
               		<div id="login">
					<%= render :partial => 'users/form' %>
					</div>
<script> 
$('#NoHelp').click(function() {
  $('#NoHelp').fadeOut('slow', function() {
    // Animation complete.
  });
});
$('#WantHelp').click(function() {
  $('#NoHelp').fadeIn('slow', function() {
    // Animation complete.
  });
});
</script>
                </div>
            </article>
        </section>
	</body>
<%end%>